.idea/
.DS_Store
__pycache__/

jargon_metric/data/
jargon_metric/data/pmi_scores/

# notebook checkpionts
*.ipynb_checkpoints/

**/*.csv
**/*.jsonl
**/*.log
.Rproj.user
/.Rhistory
/sensationalism_metric/models/causality/
/sensationalism_metric/models/sensationalism/
/sensationalism_metric/models/generalization/
/sensationalism_metric/models/certainty/
.env
/.RData
